html {
    font-family: "Lato", Helvetica, sans-serif;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    background-color: #1c2023;
    font-weight: bold;
    color: white;
    padding: 5px 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
}

#timer {
    font-size: 64px;
    text-align: center;
    margin-bottom: 10px;
}

#progress-bar {
    margin: 0 auto 30px auto;
    width: 75%;
    height: 15px;
    outline: 2px solid #1c2023;
}

#countdown-bar {
    width: 100%;
    background-color: #757B77;
    height: 100%;
}

.container {
    padding: 0 20px;
}

p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15px;
    align-items: center;
}

label {
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
}

input[type="number"] {
    max-width: 6rem;
    border-radius: 4px;
    border: 1px solid #1c2023;
    font-size: 14px;
    padding: 7px 10px;
}

.units {
    font-size: 14px;
    margin-left: 5px;
}

input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 18px;
    border: 1px solid #1c2023;
    background-color: #98D4FF;
    padding: 10px 30px;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #75BDF1;
    cursor: pointer;
}

.progress {
    width: 100%;
    border: 1px solid #cdc7c2;
    background-image: none;
    -webkit-appearance: none;
}

.progress,
.progress::-webkit-progress-bar {
    background-color: #fff;
}

.progress--set::-webkit-progress-value {
    background-color: #F56565;
}

.progress--set::-moz-progress-bar {
    background-color: #F56565;
}

.progress--rest::-webkit-progress-value {
    background-color: #65F596;
}

.progress--rest::-moz-progress-bar {
    background-color: #65F596;
}
