<!DOCTYPE html>
<head>
    <title>HIIT Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <div class="header"><span class="logo-text">HIIT Timer</span></div>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
</body>