{%  extends "base.jinja2" %}

{% block content %}
    <h1>EXERCISE</h1>
    <div id="timer">
        {{ exercise }}s
    </div>
    <div id="progress-bar"><div id="countdown-bar"></div></div>

    <script type="application/javascript">
        var timerElement = document.getElementById("timer");
        var repCounter = {{ exercise }};

        var interval = setInterval(function() {
            if (repCounter === 0) {
                window.location.href = "{{ url_for('rest', sets=sets) }}";
                clearInterval(interval);
            }
            repCounter = repCounter - 1;
            timerElement.innerText = repCounter + "s";
        }, 1000);
    </script>

    <style>
        #countdown-bar {
            animation: countdown-animation linear;
            animation-duration: {{ exercise }}s;
            background-color: #F56565;
        }

        @keyframes countdown-animation {
            0% {
                width: 100%;
            }
            100% {
                width: 0;
            }
        }
    </style>
{% endblock %}