{% extends "base.jinja2" %}

{% block content %}
    <h1>WELCOME</h1>
    <div id="timer">
        00s
    </div>
    <div id="progress-bar"><div id="countdown-bar"></div></div>

    <form method="post">
        <div class="form-input">
            <label for="exercise">Exercise:</label>
            <input type="number" name="exercise" id="exercise" value="45"/>
            <span class="units">(seconds)</span>
        </div>
        <div class="form-input">
            <label for="rest">Rest:</label>
            <input type="number" name="rest" id="rest" value="15"/>
            <span class="units">(seconds)</span>
        </div>
        <div class="form-input">
            <label for="sets">Sets:</label>
            <input type="number" name="sets" id="sets" value="6"/>
        </div>
        <div class="form-input">
            <input type="submit" value="Start!"/>
        </div>
    </form>
{% endblock %}